<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AGAT LOS E2E Automation Suite" verbose="1">

    <test name="Stage 0 - Lead Creation">
        <classes>
            <class name="com.agat.los.tests.stage01_lead.LeadCreationTest"/>
        </classes>
    </test>

    <test name="Stage 1 - Detailed Data Entry">
        <classes>
            <class name="com.agat.los.tests.stage02_dataentry.BasicDetailsTest"/>
            <class name="com.agat.los.tests.stage02_dataentry.AddressTest"/>
            <class name="com.agat.los.tests.stage02_dataentry.IdentificationTest"/>
            <class name="com.agat.los.tests.stage02_dataentry.CollateralTest"/>
            <class name="com.agat.los.tests.stage02_dataentry.DocChecklistTest"/>
            <class name="com.agat.los.tests.stage02_dataentry.RepaymentRatiosTest"/>
        </classes>
    </test>

    <test name="Stage 2 - AML Approval">
        <classes>
            <class name="com.agat.los.tests.stage03_aml.AMLVerificationTest"/>
        </classes>
    </test>

    <test name="Stage 3 - Credit Approval (TL Branch)">
        <classes>
            <class name="com.agat.los.tests.stage04_credit.TeamLeaderTest"/>
        </classes>
    </test>

    <test name="Stage 3 - Credit Approval (UW L1)">
        <classes>
            <class name="com.agat.los.tests.stage04_credit.UnderwriterL1Test"/>
        </classes>
    </test>

    <test name="Stage 3 - Credit Approval (UW L2)">
        <classes>
            <class name="com.agat.los.tests.stage04_credit.UnderwriterL2Test"/>
        </classes>
    </test>

    <test name="Stage 3 - Credit Approval (Credit Committee)">
        <classes>
            <class name="com.agat.los.tests.stage04_credit.CreditCommitteeTest"/>
        </classes>
    </test>

    <test name="Stage 4 - Offer Acceptance">
        <classes>
            <class name="com.agat.los.tests.stage05_offer.OfferAcceptanceTest"/>
        </classes>
    </test>

    <test name="Stage 5 - Loan Activation">
        <classes>
            <class name="com.agat.los.tests.stage05_loanactivation.LoanActivationTest"/>
        </classes>
    </test>

</suite>
